/* Global */
@font-face {
  font-family: "PPNeueMontreal";
  font-weight: 400;
  src: local("PPNeueMontreal"),
    url("./../static/fonts/PPNeueMontreal-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "PPNeueMontreal";
  font-weight: 500;
  src: local("PPNeueMontreal"),
    url("./../static/fonts/PPNeueMontreal-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "PPNeueMontreal";
  font-weight: 700;
  src: local("PPNeueMontreal"),
    url("./../static/fonts/PPNeueMontreal-Bold.woff2") format("woff2");
}

:root {
  --noir: #161616;
  --noir-rgb: 22, 22, 22;
  --blanc: #ffffff;
  --blanc-rgb: 255, 255, 255;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: clip;
  overflow-y: auto;
  font-family: "PPNeueMontreal";
}

.section,
.section.section-paper {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
}

.section + .section {
  padding-top: 0;
}

.section:last-child {
  padding-bottom: 0;
}

/* Utils */

.mb-title {
  margin-bottom: 40px;
}

/* Three.js */

.webgl {
  width: 100%;
  height: 400px;
  outline: none;
}

.marker {
  position: absolute;
  top: 50%;
  left: 50%;
}

.marker:hover .marker-text,
.marker-label:focus ~ .marker-text {
  opacity: 1;
}

.marker .marker-label {
  position: absolute;
  top: -20px;
  left: -20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid rgba(var(--blanc-rgb), 0.23);
  background: rgba(var(--blanc-rgb), 0.14);
  color: var(--blanc);
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 1.25rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: help;
  transform: scale(0, 0);
  transition: transform 0.3s;
}

.marker.visible .marker-label {
  transform: scale(1, 1);
}

.marker .marker-text {
  position: absolute;
  top: 0;
  left: 45px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 300px;
  box-sizing: border-box;
  padding: 8px 12px 8px 8px;
  border: 1px solid rgba(255, 255, 255, 0.23);
  background: rgba(255, 255, 255, 0.47);
  backdrop-filter: blur(3.8499999046325684px);
  color: var(--blanc);
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 1rem;
  line-height: 1.3em;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}
.marker .marker-text svg {
  flex-shrink: 0;
  margin-right: 7px;
}

/* Webpage */
.body {
  background: #40afff;
  background-image:
    radial-gradient(
      44.92% 209.62% at -82.85% 77.51%,
      #2bccff 0%,
      rgba(255, 255, 255, 0) 100%,
      rgba(152, 230, 255, 0) 100%
    ),
    -webkit-radial-gradient(
      44.92% 209.62% at -82.85% 77.51%,
      #2bccff 0%,
      rgba(255, 255, 255, 0) 100%,
      rgba(152, 230, 255, 0) 100%
    ),
    radial-gradient(
      144.2% 67.7% at 2.78% 119.09%,
      #40afff 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    -webkit-radial-gradient(
      144.2% 67.7% at 2.78% 119.09%,
      #40afff 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    radial-gradient(
      134.92% 172.86% at 105.38% 37.02%,
      #40afff 0%,
      rgba(158, 183, 191, 0) 100%
    ),
    -webkit-radial-gradient(
      134.92% 172.86% at 105.38% 37.02%,
      #40afff 0%,
      rgba(158, 183, 191, 0) 100%
    ),
    radial-gradient(
      90.59% 71% at 7.4% 3.88%, 
      #40afff 0%, 
      #9eb7bf 100%
    ),
    -webkit-radial-gradient(
      90.59% 71% at 7.4% 3.88%, 
      #40afff 0%, 
      #9eb7bf 100%
    );
}

.section-paper .section-bg {
  position: absolute;
  width: 100%;
  min-height: 100%;
  height: auto;
  left: 0;
  top: 0;
  object-fit: cover;
  object-position: top;
}
.section-paper .h2 {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: normal;
}
.section-paper .h2 .subtitle {
  display: block;
  font-size: 1.25rem;
  font-weight: 500;
}

.section h2 {
  font-size: 2.5rem;
  font-weight: 700;
}

.sectiontextclair {
  color: var(--blanc);
}

.bloctext {
  font-size: 1.125rem;
  line-height: normal;
}

.img-paper,
.img-fleur-bleue {
  width: 200px;
}

.section-webgl .h2 {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--blanc);
  font-size: 5rem;
  font-weight: 700;
  text-transform: uppercase;
  z-index: -1;
}

/* Plyr */

.plyr {
  border: 8px solid var(--blanc);
  aspect-ratio: 16/9;
}

/* Footer */
.footer {
  background-image: url(./../static/img/footer.png);
  position: relative;
  height: 240px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  padding-bottom: 20px;
}

/* Header */
.header {
  padding-top: 20px;
  color: var(--blanc);
  min-height: 70dvh;
}

.header .h1 {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1;
}
.header .subtitle {
  display: block;
  font-size: 1.75rem;
}

.credit {
  line-height: normal;
}

@media (min-width: 992px) {
  .header {
    height: 60dvh;
    min-height: auto;
  }
  .header .h1 {
    text-align: center;
    font-size: 7rem;
  }
  .header .subtitle {
    font-size: 2.625rem;
  }
  .header .desc {
    text-align: center;
  }
  .bloctext {
    font-size: 1.5rem;
  }
  .mb-title {
    margin-bottom: 88px;
  }
  .section,
  .section.section-paper {
    padding-top: 160px;
    padding-bottom: 160px;
  }
  .section-paper .h2 {
    font-size: 2.125rem;
  }
  .section-paper .h2 .subtitle {
    font-size: 1.75rem;
  }
  .section-webgl .h2 {
    font-size: 12.625rem;
  }
}
